body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 300px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 200px;

  border: 5px solid #006766;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #9a3334;
}
